.pagination {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: center;
  }
  
  .page-item {
    margin: 0 5px;
  }
  
  .page-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
    color: #0f141b;
    border: none;
    cursor: pointer;
    border: none;
  }
  
  .page-item.disabled .page-link {
    background-color: rgb(134, 134, 134);
    cursor: not-allowed;
  }
  
  .page-item.active .page-link {
    background-color: #7ffa67;
  }
  
  .pagination .dots {
    margin: 0 5px;
    color: #fff; 
    font-size: 18px; 
  }
  